# Regularly updated submodules
/rocm-libraries         @ROCm/TheRockInfra
/rocm-systems           @ROCm/TheRockInfra

# New patches are strongly discouraged. See patches/README.md.
/patches/               @ScottTodd @marbre
